.intro {
  text-align: center;
}

#otherSide {
  display: none;
}

#otherSideTwo {
  display:none;
}

#otherSideThree {
  display:none;
}

#otherSideFour {
  display: none;
}

#otherSideFive {
  display: none;
}

#otherSideSix {
  display: none;
}

#otherSideSeven {
  display:none;
}

#otherSideEight {
  display:none;
}

#otherSideNine {
  display: none;
}

#otherSideTen {
  display: none;
}

#otherSideEleven {
  display:none;
}

#otherSideTwelve {
  display:none;
}
